@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 208 100% 97%;
    --foreground: 222.2 47.4% 11.2%;
    --card: 208 100% 97%;
    --card-foreground: 222.2 47.4% 11.2%;
    --popover: 208 100% 97%;
    --popover-foreground: 222.2 47.4% 11.2%;
    --primary: 176 44% 75%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 14 70% 62%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 200 15% 10%;
    --foreground: 210 40% 98%;
    --card: 200 15% 10%;
    --card-foreground: 210 40% 98%;
    --popover: 200 15% 10%;
    --popover-foreground: 210 40% 98%;
    --primary: 176 44% 75%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 14 70% 62%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 14 70% 62%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: 'PT Sans', sans-serif;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
  
  @import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');
}

@media print {
  body {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
  
  .break-before-page {
    page-break-before: always;
  }
  
  .print-header, .print-footer {
    position: fixed;
    width: 100%;
    display: none; /* Hidden by default, shown via @page */
  }

  .print-header {
    top: 0;
  }

  .print-footer {
    bottom: 0;
  }

  @page {
    size: letter;
    margin: 1in;

    @top-center {
      content: element(header);
    }

    @bottom-left {
      content: element(footer);
    }
  }

  .printable-area .print-header-content {
      display: block;
      position: running(header);
  }

  .printable-area .print-footer-content {
      display: block;
      position: running(footer);
  }

  .no-print {
    display: none;
  }
}
